<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="/fragment/layout::head"></div>
    <title>registerPost</title>
</head>
<body>

<div class="container-fluid" style="margin-top: 6rem;"><h2 class="d-flex justify-content-center">Please insert post information</h2></div>

<div class="container" style="margin-top: 2rem; border-radius: 2rem; border: rgb(210,210,210) 1px solid; width: 30rem; height: 30rem">

    <form th:object="${post}" class="form-group" style="padding-top: 5rem; padding-left: 4rem" enctype="multipart/form-data" th:action="@{/posts/register}" method="post">

        <input type="hidden" th:filed="*{id}">

        <div class="d-flex align-items-baseline">
            <label for="title" class="text-nowrap m-2">title :</label>
            <input class="form-control" type="text" style="width: 15rem" id="title" th:field="*{title}">
        </div>


        <div class="my-3 d-flex align-items-baseline" style="width: 18.2rem">
            <label class="text-nowrap mr-4" for="myMultiSelect">category :</label>
            <select multiple class="selectpicker" id="myMultiSelect" th:field="*{categoryList}">
                <option th:each="category : ${categories}"
                th:text="${category.title}"
                th:value="${category.id}"></option>
            </select>
        </div>

        <div class="d-flex align-items-baseline">
            <label for="myBody" class="text-nowrap">Body :</label>
            <textarea th:field="*{body}" id="myBody" class="ml-3 mb-4" style="resize: none; width: 14.6rem;
height: 9rem"></textarea>
        </div>

        <div class="">
            <label for="myFile">photo :</label>
            <input type="file" id="myFile" th:field="*{file}">
        </div>

        <div class="my-4 d-flex justify-content-center">
            <button type="submit" style="width: 10rem" class="btn btn-primary">submit</button>
        </div>

    </form>
</div>
</body>
</html>