<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="/fragment/layout::head"></div>
    <link rel="stylesheet" th:href="@{/css/myStyle.css}">
    <title>post</title>
</head>
<body>

<div th:replace="/fragment/layout::header"></div>

<section class="postShow py-5">
    <div class="container-fluid">
        <div class="row">

            <div class="col-lg-8 col-md-8">
                <img src="/img/Last.jpg" class="img-fluid">
            </div>

            <div class="col-lg-4 col-md-4">
                <div class="pl-lg-5">
                    <h4 class="myPostInfo">title : The Last of us II</h4>
                    <h4 class="myPostInfo">created by : ErfAn</h4>
                    <h4 class="myPostInfo">created At : 2019</h4>
                    <h4 class="myPostInfo">updated At : 2020</h4>
                </div>
            </div>
        </div>

        <div class="row m-2">
            <h3>body : </h3><p>The Last of Us Part II is a 2020 action-adventure game developed by Naughty Dog and published by Sony Interactive Entertainment for the PlayStation 4. Set five years after The Last of Us (2013), the game focuses on two playable characters in a post-apocalyptic United States whose lives intertwine: Ellie, who sets out for revenge after suffering a tragedy, and Abby, a soldier who becomes involved in a conflict between her militia and a religious cult. The game is played from the third-person perspective and allows the player to fight human enemies and cannibalistic zombie-like creatures with firearms, improvised weapons, and stealth</p>
        </div>
    </div>
</section>

<div th:replace="/fragment/layout::footer"></div>

</body>
</html>