<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="/fragment/layout::head"></div>
    <title>categories</title>
</head>
<body>
<div th:replace="/fragment/layout::header"></div>

<div>
    <a th:href="@{/categories/register}"><button class="btn NewBtn m-3">NEW</button></a>
</div>

<table class="table my-5">
    <thead class="table-light">
    <tr style="background-color: rgb(220,220,220)">
        <th>Id</th>
        <th>title</th>
        <th></th>
    </tr>

    </thead>

    <tbody>
    <tr th:each="category : ${categories}">
        <th th:text="${category.id}"></th>
        <td th:text="${category.title}">Social</td>

        <td>
            <a th:href="@{/categories/edit/{id}(id=${category.getId()})}"><button type="button" class="btn btn-success">edit</button></a>
            <button type="button" class="btn btn-danger">delete</button>
        </td>

    </tr>

    </tbody>
</table>

<div th:replace="/fragment/layout::footer"></div>
</body>
</html>